.login {
    width: 300px;
    margin: 0 auto;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.login form label {
    display: block;
}
  
.login form input {
    padding: 5px;
    font-size: 14px;
}

.inputLogin {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

button {
    margin: 5%;
    height: 40%;
    width: 40%;
}
